<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My average weight</title>
    <style>
      body {
        background-color: whitesmoke;
      }

      h1 {
        color: navy;
        margin-left: 20px;
      }

      table,
      th,
      td {
        border: 1px solid lightgrey;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <% include navbar %>
      <h2 class="text-center">My average weight</h2>
      <table class="table">
        <tr>
          <td>
            Average weight:
          </td>
          <td>
            <%= result[0].AVG %>
          </td>
        </tr>
      </table>
      <% include footer %>
    </div>
  </body>
</html>
