<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; 2020 karcio</small>
<br>
    <small>ver. 1.1</small>
  </div>
</footer>
