<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My weight</title>
    <style>
      body {
        background-color: whitesmoke;
      }

      h1 {
        color: navy;
        margin-left: 20px;
      }

      table,
      th,
      td {
        border: 1px solid lightgrey;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <% include navbar %>

      <div class="row ">
        <div class="col">
          <div class="card text-center bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Avg</div>
            <div class="card-body">
              <h5 class="card-title"><%= avg[0].avg %></h5>
              <p class="card-text">current</p>
            </div>
          </div>
        </div>
        <div class="col align-self-end">
          <div class="card text-center bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">BMI</div>
            <div class="card-body">
              <h5 class="card-title">30</h5>
              <p class="card-text">current</p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="text-center">My weight log</h2>

      <table class="table table-striped">
        <tr>
          <th>date:</th>
          <th>weight:</th>
        </tr>
        <% for(var i=0; i < weight.length; i++) { %>
        <tr>
          <td>
            <%= weight[i].date %>
          </td>
          <td>
            <%= weight[i].weight %>
          </td>
        </tr>
        <% } %>
      </table>

      <% include footer %>
    </div>
  </body>
</html>
